<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="assets/images/slide-1.png" alt="">
      <span>App Top de Filmes e Séries</span>
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slide-2.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slide-3.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slide-4.png" alt="">
    </ion-slide>
  </ion-slides>
</ion-content>
